html, body {
    height: 99%;
    background-color: #F6F5FA;
}

ul {
    columns: 2;
    float: left;
    padding: 0;
    list-style: none outside none;
}

li {
    float: left;
    display: block;
    width: 100px;
    height: 100px;
    margin: 10px 6px;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
}

#calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 1px 0 rgba(70,70,70,0.5);
    background-color: #ffffff;
    width: 320px;
    height: 600px;
}

#total-coin {
    width: 225px;
    height: 44px;
    font-size: 22px;
    text-align: right;
    font-weight: bold;
    background-color: #FAFAFA;
    outline: none;
    border: 1px solid #ccc;
    padding-right: 15px;
    margin-top: 30px;
}

#calculate-button {
    background-color: #222222;
    text-align: center;
    color: white;
    border: none;
    width: 100%;
    height: 44px;
}

.center {
    text-align: center;
}

.font-san {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-width: 0;
    background-color: #D8D8D8;
}

.coin-size {
    outline: none;
    border: none;
    text-align: center;
    color: #ACACAC;
}

.notification {
    top: 1px;
    right: 1px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 25px;
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}

.coin-container {
    width: 240px;
    margin: 0 auto;
}

@media only screen and (max-device-width: 480px) {
    #calculator {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 1px 1px 1px 0 rgba(70,70,70,0.5);
        background-color: #ffffff;
        width: 100%;
        height: 100%;
    }
}
